body {
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.input-texto {
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botones {
    margin-top: 20px;
}

.boton {
    width: 150px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.boton:hover {
    background-color: #3e8e41;
}

.resultado {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}